.headerContainer {
    background: var(--white);
    height: 6.5rem;
  
    display: flex;
    align-items: center;
  
    padding: 2rem 4rem;
  
    border-bottom: 1px solid var(--gray-100);
  
    p {
      margin-left: 2rem;
      padding: 0.25rem 0 0.25rem 2rem;
      border-left: 1px solid var(--gray-100);
    }
  
    span {
      margin-left: auto;
      text-transform: capitalize;
    }

    .toggle {
      background: var(--gray-100);
      width: 3.5rem;
      height: 1.75rem;
      margin-left: 1.5rem;
      border-radius: 1rem;

      position: relative;

      .toggleButton {
        position: absolute;

        background: var(--gray-500);
        height: 1.5rem;
        width: 1.5rem;

        border-radius: 50%;

        transform: translate(13%, 8%);
      }

    }
  }